# Ignore Python cache directory
__pycache__/

# Ignore archive files
*.zip

# Ignore temporary and backup files
*.tmp
*.bak
*.swp
happy_sad_tflite_api_project.zip
# Ignore log files
*.log

# Ignore virtual environment directories
venv/
.env/

# Ignore system files (Windows/macOS)
Thumbs.db
.DS_Store
